[run]
branch = True
omit =
    */migrations/*
    manage.py

[report]
# Regexes for lines to exclude from consideration
exclude_lines =
    # Have to re-enable the standard pragma
    pragma: no cover

ignore_errors = True

[html]
directory = coverage_html_report
